html {
  height: 100%;
  width: 100%;
  background-color: #35495E;
  color: #EE8572
}

body {
  height: 100%
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 400px;
  height: 300px;
  border: 3px solid #EE8572;
  padding: 2px;
  font-family: 'Orbitron', sans-serif;
}

#display {
  grid-area: 1/1/2/6;
  text-align: right;
  font-size: 50px;
  border: 2px solid #EE8572;
  padding-right: 3px;
  background-color: #347474
}

#clear {
  grid-area: 2/5/4/6
}

#equals {
  grid-area: 4/5/6/6
}

#multiply {
  grid-area: 5/4/6/5
}

#decimal {
  grid-area: 5/3/6/4
}

#zero {
  grid-area: 5/2/6/3
}

button {
  border: 1px solid #EE8572;
  margin: 2px;
  background-color: #347474;
  color: #EE8572;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
}
